<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robotNamespace>vonns2</robotNamespace>
            <parameters>$(find vonns2_gazebo)/config/joint_group_position_controller.yaml</parameters>
        </plugin>
    </gazebo>

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <joint name="servo_joint">
            <command_interface name="position">
                <param name="min">-1.5708</param>
                <param name="max">1.5708</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <param name="initial_position">0.0</param>  
        </joint>

    </ros2_control>
</robot >
